<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <label for="toggler" class="navbar-burger burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </label>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-light" href ="dash/settings">
                    {{ current_user.getUsername() }}
                </a>
                <a class="button is-danger" href = "dash/logout" >
                    <strong>Sign out</strong>
                </a>
            </div>
        </div>
    </div>
    </div>
</nav>