<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/mystyles.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>
{% block title %}Spotiscout{% endblock title %}
    </title>
</head>
<body>
    <div class="includes">
        {% include 'common/navbar.html' %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}</div>
</body>
</html>