{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %} {% block content %}
<body>
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form class="box" method="post">
            <div class="field">
              <label for="username" class="label">Username</label>
              <div class="control has-icons-left">
                <input
                  class="input"
                  type="text"
                  name="username"
                  placeholder="Enter your username"
                  required
                />
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input
                  type="password"
                  name="password"
                  placeholder="Enter your password"
                  class="input"
                  required
                />
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="checkbox">
                <input type="checkbox" name ="remember/>
                Remember me
              </label>
            </div>
            <div class="field">
              <button class="button">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
{% endblock %}
